html {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: auto;
    overflow-y: scroll;
}

body {
    margin: 10px;
}

a {
    color: #cc1717;
    text-decoration: none;
}

p {
    line-height: 20px;
    margin: 0;
}

li {
    line-height: 24px;
}